.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project__card {
  width: 260px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project__card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.project__description {
  margin-top: 10px;
}

.project__description h3 {
  font-size: 18px;
  margin: 0;
}

.project__description p {
  font-size: 14px;
  color: #555;
}

.project__card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project__card-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.project__card-buttons button:hover {
  background-color: var(--color-dark);
  color: var(--color-bg);
}

@media (max-width: 1000px) {
  .project__card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .project__card {
    width: 80%;
  }
}
